h5py==3.1.0
Jinja2==2.11.2
Markdown==3.3.3
matplotlib==3.3.3
nibabel==3.2.1
numpy==1.19.5
opacus
pandas==1.1.4
paramiko==2.7.2
tensorflow-datasets
Pillow==8.0.1
POT==0.7.0
PyYAML==5.3.1
scikit-image==0.18.1
scikit-learn==0.23.2
scipy==1.4.1
tensorboard==2.5.0
tensorflow==2.5.0
tensorflow-addons==0.11.2
tensorflow-privacy==0.6.1
torch
torchaudio
torchcsprng
torchgan
torchvision
Werkzeug==1.0.1
